<div class="row-fluid">
          <div class="span3">
           <div class="well sidebar-nav">
             [% INCLUDE navigation_list.tt2 %] 
            </div><!--/.well -->
          </div><!--/span-->
          <div class="span9">
	    [%IF db_result == 0 %]
            	<h3>磁盘监控参数配置成功</h3>
		<hr class="bs-docs-separator">
	    [% ELSE %]
	        <h3>磁盘监控参数配置失败，请联系管理员!</h3>
		<hr class="bs-docs-separator">
	    [% END %]
          </div>
        </div><!-- row-fluid -->
      
