<div class="row-fluid">
          <div class="span3">
           <div class="well sidebar-nav">
             [% INCLUDE navigation_list.tt2 %]
            </div><!--/.well -->
          </div><!--/span-->
          <div class="span9">
	    [%IF db_result == 0 %]
            	<h3>进程信息文件导入成功</h3>
		<hr class="bs-docs-separator">
	    [% ELSE %]
	        <h3>进程信息文件导入失败!</h3>
		<hr class="bs-docs-separator">
	    [% END %]
          </div>
        </div><!-- row-fluid -->
      
